<div class="overlay categoryOverlay">
	<div class="inner">
		<div class="js-close-overlay close">
			<i class="far fa-times"></i>
		</div>
		<h2>{{ i18n.form.categories.new_headline }}</h2>

		<form method="post" action="/styleguide/{{ styleguide.id }}/addcategory">
			<label>
				<span>{{ i18n.form.categories.name }}</span>
				<input type="text" name="cat_name" required>
			</label>

			<label>
				<span>{{ i18n.form.categories.menu }}</span>
				<div class="menus"></div>

				<div class="menu_input_wrapper">
					<input class="menu_input" required type="text">
					<div class="js-add-menu">+</div>
				</div>
			</label>

			<div>
				<button class="js-handle-new-categorie btn-primary">{{ i18n.form.save }}</button>
			</div>
		</form>
	</div>
</div>
