<div class="overlay editElementComment">
    <div class="inner">
        <div class="js-close-overlay close"><i class="far fa-times"></i></div>
        <h2>{{ i18n.form.elements.addComment }}</h2>

        <form method="post" action="/styleguide/{{ styleguide.id }}/updatecomment">
            <input type="hidden" name="element_id">
            <input type="hidden" name="type_id" value="{{ type.id }}">
            <label>
                <span>{{ i18n.form.elements.title }}</span>
                <input type="text" name="comment_headline">
            </label>

            <label>
                <span>{{ i18n.form.elements.description }}</span>
                <textarea name="comment_description"></textarea>
            </label>

            <div>
                <button class="js-save-comment">{{ i18n.form.save }}</button>
            </div>
        </form>
    </div>
</div>