<div class="overlay editelementOverlay">
    <div class="inner">
        <div class="js-close-overlay close"><i class="far fa-times"></i></div>
        <h2>{{ i18n.form.elements.edit_headline }}</h2>
        <div class="subline">{{ type.category.title|raw }} > {{ type.title|raw }}</div>

        <form class="full" method="post" action="/styleguide/{{ styleguide.id }}/type/{{ type.id }}/updateElement" enctype="multipart/form-data">
            <input type="hidden" name="element_id">
            <input type="hidden" name="type_id" value="{{ type.id }}">

            <div class="fields">
                <div class="half">

                    <label>
                        <span>{{ i18n.form.elements.image }}</span>

                        <div class="fields">
                            <div style="margin-right: 27px;">
                                <div class="preview-image-container">
                                    {% if accountInfos.count_filesize >= (planLimits.count_storage_mb * 1024 * 1024) %}
                                       <p style="color: red">{{ i18n.error.to_much_filesize|raw }}</p><br><br>
                                    {% else %}
                                        <input type="file" name="image" class="js-edit-preview-image" accept=".png,.jpg,.jpeg,.gif,.svg">
                                    {% endif %}
                                    <input type="hidden" name="old_image">
                                    <img src="/application/assets/images/preview_image.svg" class="edit-preview-image">
                                    <i class="js-remove-previewimage far fa-trash"></i>
                                </div>
                            </div>

                            <div>
                                <label style="margin-bottom: 10px;">
                                    <input type="checkbox" name="has_color" value="true" class="js-show-backgroundcolor"> <span>{{ i18n.form.elements.color }}</span>
                                </label>

                                <label style="margin-bottom: 10px;">
                                    <div class="color-select-wrapper" style="display: none; margin-bottom: 20px;">
                                        <input type="color" name="color" class="color-selector">
                                        <input type="text" pattern="^#([A-Fa-f0-9]{6})$" value="#" class="color-hex-text">
                                    </div>
                                </label>
                                
                                <label>
                                    <input type="checkbox" name="has_outline" value="true"> <span>{{ i18n.form.elements.outline }}</span>
                                </label>
                            </div>
                        </div>
                    </label>

                    <label>
                        <span>{{ i18n.form.elements.title|raw }}</span>
                        <input type="text" name="title">
                    </label>

                    <label>
                        <span>{{ i18n.form.elements.description }}</span>
                        <textarea name="description"></textarea>
                    </label>
                </div>

                <div class="half">

                    <label class="layout">
                        <span>{{ i18n.form.elements.cols }}</span>
                        <label><input type="radio" value="third" name="cols"><img src="/assets/images/layout_third.svg"></label>
                        <label><input type="radio" value="half" name="cols"><img src="/assets/images/layout_half.svg"></label>
                        <label><input type="radio" value="full" name="cols"><img src="/assets/images/layout_full.svg"></label>
                    </label>
                    

                    <label>
                        <span>{{ i18n.form.elements.uploads }}<br><small>{{ i18n.form.elements.uploads_sub }}</small></span>
                        <div class="uploads"></div>
                        {% if accountInfos.count_filesize >= (planLimits.count_storage_mb * 1024 * 1024) %}
                            <p style="color: red">{{ i18n.error.to_much_filesize|raw }}</p><br><br>
                        {% else %}
                            <input type="file" name="uploads[]" multiple="multiple" accept=".svg,.png,.jpg,.jpeg,.gif,.pdf,.eps,.ai,.tiff,.tif,.psd,.zip,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.pages,.numbers,.key,.mp4,.mov,.WebM,.avi">
                        {% endif %}
                    </label>
                </div>
            </div>

            <button>{{ i18n.form.save }}</button>
        </form>
    </div>
</div>