<div class="overlay editcategoryOverlay">
	<div class="inner">
		<div class="js-close-overlay close">
			<i class="far fa-times"></i>
		</div>
		<h2>{{ i18n.form.categories.edit_headline }}</h2>

		<form method="post" action="/styleguide/{{ styleguide.id }}/updatecategory">
			<label>
				<span>{{ i18n.form.categories.name }}</span>
				<input type="text" name="cat_name" required>
				<input type="hidden" name="cat_id" required>
			</label>

			<label>
				<span>{{ i18n.form.categories.menu }}</span>
				<div class="menus"></div>

				<div class="menu_input_wrapper">
					<input class="menu_input" type="text">
					<div class="js-add-menu">+</div>
				</div>
			</label>

			<input type="hidden" name="action" value="editcategory">

			<div class="btn-delete-wrapper">
				<div class="js-delete-category delete-link">{{ i18n.form.categories.delete }}</div>
				<button class="js-handle-new-categorie btn-primary">{{ i18n.form.save }}</button>
			</div>
		</form>
	</div>
</div>
