<div class="footer">
	<div class="text-left">
		styleguide-generator - {{ i18n.footer.rights }}
	</div>
	<div>
		<ul class="footermenu">
			<li>
				<a href="?lang={{ i18n.lang.Otherversion_short }}">{{ i18n.lang.Otherversion }}</a>
			</li>
			<li>
				<a href="/feedback">Feedback</a>
			</li>
			<li>
				<a href="/data-protection">{{ i18n.dataprotection.headline }}</a>
			</li>
			<li>
				<a href="/tacs">{{ i18n.tacs.headline }}</a>
			</li>
			<li>
				<a href="/imprint">{{ i18n.imprint.headline }}</a>
			</li>
		</ul>
	</div>
</div>
