<div class="sidebar">
    <div class="menu">
        <div class="mobile-arrow"><i class="fal fa-chevron-left"></i> <span>{{ i18n.sidebar_share.collaps_nav }}</span><i class="fal fa-chevron-left decollapse"></i></div>
					
        <div class="maindata">
            {% if styleguide.logo %}
                <div class="logo_wrapper">
                    <img src="https://ki.styleguide-generator.com/file?path={{ styleguide.logo }}">
                </div>
            {% endif %}
        </div>

        <div class="categories js-check-print-types">
            {% for category in styleguide.categories %}
                <div class="cat">
                    <label><input checked data-category="{{ category.id }}" type="checkbox"> {{ category.title|raw }}</label>
                    {% for _type in category.types %}
                        <label class="sub"><input checked data-type="{{ _type.id }}" type="checkbox"> {{ _type.title|raw }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

	<div class="sticky">
        <div class="sharebox print_share">
            <strong>{{ i18n.share.shareorprint }}</strong>
            <div class="validness">{{ i18n.share.validfor }} <input type="number" class="js-valid" value="30"> {{ i18n.share.days }}</div>
            <div class="buttons">
                <button class="btn-primary js-generate-shar-link">{{ i18n.share.generateLink }}</button>
                {# <button class="btn-primary js-open-printdialog">{{ i18n.share.print }}<i class="fas fa-print"></i></button> #}
            </div>
            <div class="linkbox">
                <input type="text" value="" class="js-shareLink">
                <i class="js-copy-shareLink fas fa-link"></i>
                <div class="success newlink">{{ i18n.share.generateLinkSuccess }}</div>
                <div class="success copied">{{ i18n.share.generateLinkCopied }}</div>
            </div>
        </div>
    </div>
</div>