<div class="sidebar shared">
	<div class="menu">
		<div class="mobile-arrow"><i class="fal fa-chevron-left"></i> <span>{{ i18n.sidebar_shared.collaps_nav }}</span><i class="fal fa-chevron-left decollapse"></i></div>
					
		<div class="maindata logo">
			{% if styleguide.logo %}
				<div class="logo_wrapper">
					<a href="#info"><img src="https://ki.styleguide-generator.com/file?path={{ styleguide.logo }}"></a>
				</div>
			{% else %}
				<div class="logo_wrapper">
					<a href="#info"><img src="/assets/images/logo-rechteck_1.jpg"></a>
				</div>
			{% endif %}
		</div>

		<div class="categories">
			{% for category in styleguide.categories %}
				<div class="cat">
					<label class="main"><a href="#category_{{ category.id }}">{{ category.title|raw }}</a></label>
					{% for _type in category.types %}
						<label class="sub"><a href="#type_{{ _type.id }}">{{ _type.title|raw }}</a></label>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="sticky">
		<div class="sharebox print_share">
			{% if shareLink %}
				<div style="margin: 0 0 10px 0;color:#707070;" class="validness">
					<span>{{ i18n.share.validto }}
						{{ shareLink.valid|date("d.m.Y H:i") }}
						{{ i18n.share.time }}</span>
				</div>

				{# {% if user is not null %}
					{% if shareLink.isPinned == 'pinned' %}
						<div style="display: none;" class="btn-primary js-linkToAccount" data-shareLink="{{ shareLink.link }}"><span>{{ i18n.share.linkToAccount }}</span>&nbsp;&nbsp;<i class="fas fa-link"></i></div>
						<div style="margin-top: 10px;" class="btn-primary js-unLinkFromAccount red" data-shareLink="{{ shareLink.link }}"><span>{{ i18n.share.unLinkFromAccount }}</span>&nbsp;&nbsp;<i class="fas fa-unlink"></i></div>
					{% else %}
						<div class="btn-primary js-linkToAccount" data-shareLink="{{ shareLink.link }}"><span>{{ i18n.share.linkToAccount }}</span>&nbsp;&nbsp;<i class="fas fa-link"></i></div>
						<div style="margin-top: 10px; display: none;" class="btn-primary js-unLinkFromAccount red" data-shareLink="{{ shareLink.link }}"><span>{{ i18n.share.unLinkFromAccount }}</span>&nbsp;&nbsp;<i class="fas fa-unlink"></i></div>
					{% endif %}
				{% else %}
					<a href="/register" class="btn-primary"><span>{{ i18n.share.linkToAccount }}</span>&nbsp;&nbsp;<i class="fas fa-link"></i></a>
				{% endif %} #}

			{% else %}
				{% if styleguide.rights_editor %}
					<a href="/styleguide/{{ styleguide.id }}/share" class="btn-primary"><span>{{ i18n.share.printorshare }}</span>&nbsp;&nbsp;<i class="fas fa-share"></i></a>
					<a href="/styleguide/{{ styleguide.id }}" class="btn-primary"><span>{{ i18n.form.edit }}</span>&nbsp;&nbsp;<i class="fas fa-edit"></i></a>
				{% endif %}
			{% endif %}

			<div style="margin: 10px 0 0 0;color:#707070;" class="validness">
				<span>created by
					<a href="https://ki.styleguide-generator.com" style="color:#707070;">styleguide-generator.com</a>
				</span>
			</div>
		</div>
	</div>
</div>
