<div class="sidebar">
    <div style="display: none;" id="styleguideid_sidebar">{{ styleguide.id }}</div>
    <div class="menu">
        <div class="mobile-arrow"><i class="fal fa-chevron-left"></i> <span>{{ i18n.sidebar.collaps_nav }}</span><i class="fal fa-chevron-left decollapse"></i></div>
					
        <div class="maindata">
            {% if styleguide.logo %}
                <div class="logo_wrapper">
                    <img src="https://ki.styleguide-generator.com/file?path={{ styleguide.logo }}">
                </div>
            {% else %}
                <div class="logo_wrapper">
                    <img src="/assets/images/logo-rechteck_1.jpg">
                </div>
            {% endif %}
        </div>

        <div class="maindata maindata2">
            <a class="{% if activemenu == "maindata" %}active{% endif %}" href="/styleguide/{{ styleguide.id }}/edit">
                {{ i18n.styleguide.settings }}
            </a>
        </div>

        <div class="categories">
            {% for category in styleguide.categories %}
                <div class="category" data-categoryId="{{ category.id }}">
                    <span class="title">{{ category.title|raw }} 
                        <span data-category="{{ category.id }}" class="edit js-edit-category"><i class="fal fa-pencil"></i></span>
                        <span class="edit js-sortdown-category"><i class="fal fa-arrow-down"></i></span>
                        <span class="edit js-sortup-category"><i class="fal fa-arrow-up"></i></span>
                    </span>

                    {% for _type in category.types %}
                        <a class="sub {% if type.id == _type.id %}active{% endif %} {% if _type.elements|length <= 0 %} no-content{% endif %}" href="/styleguide/{{ styleguide.id }}/type/{{ _type.id }}">
                            {{ _type.title|raw }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <div class="sticky">

            <div class="new_category">
                <div class="js-new-category">{{ i18n.form.categories.category }} <i class="fal fa-plus"></i></div>
            </div>

            <div class="print_share">
                <a href="/styleguide/{{ styleguide.id }}/preview" class="btn-primary"><span>{{ i18n.share.preview }}</span>&nbsp;&nbsp;<i class="fas fa-eye"></i></a> 
                <a href="/styleguide/{{ styleguide.id }}/share" class="btn-primary"><span>{{ i18n.share.printorshare }}</span>&nbsp;&nbsp;<i class="fas fa-share"></i></a> 
            </div>
        </div>
    </div>
</div>