<div class="slidesHeader">
    <h1 class="sliderTitle">{{ i18n.kiStyleguide.tabs.companyInfo }}</h1>
    <span class="sliderSubtitle">{{ i18n.kiStyleguide.companyInfo.explanation }}</span>
</div>
<div id="companyNameContainer">
    <label for="companyName">
        <span>{{ i18n.kiStyleguide.companyInfo.companyName }}</span>
        <input type="text" name="companyName" id="companyName" placeholder="{{ i18n.kiStyleguide.companyInfo.companyNamePlaceholder }}">
    </label>
    <label for="companySlogan">
        <span>{{ i18n.kiStyleguide.companyInfo.companySlogan }}</span>
        <input type="text" name="companySlogan" id="companySlogan" placeholder="{{ i18n.kiStyleguide.companyInfo.companySloganPlaceholder }}">
    </label>
</div>
<div id="companyReasonContainer">
    <label for="businessReason">
        <span>{{ i18n.kiStyleguide.companyInfo.reason }}</span>
        <input type="text" name="businessReason" id="businessReason" placeholder="{{ i18n.kiStyleguide.companyInfo.reasonPlaceholder }}">
    </label>
</div>
