<div class="elements">

    <div class="h1-reference element full">
        <span class="h1-reference" style="font-family: {{ element.fonts.mainFont }}; font-size: {{ element.fontSize.h1 }}px; font-weight: {{ element.fontWeight.h1 }}">
            H1 would look like this
        </span>
    </div>
    <div class="h2-reference element full" style="font-family: {{ element.fonts.mainFont }}; font-size: {{ element.fontSize.h2 }}px; font-weight: {{ element.fontWeight.h2 }}">
        H2 would look like this
    </div>
    <div class="h3-reference element full" style="font-family: {{ element.fonts.mainFont }}; font-size: {{ element.fontSize.h3 }}px; font-weight: {{ element.fontWeight.h3 }}">
        H3 would look like this
    </div>
    <div class="normalText-reference element full" style="font-family: {{ element.fonts.secondaryFont }}; font-size: {{ element.fontSize.normalText }}px; font-weight: {{ element.fontWeight.normalText }}">
        Imagine a world where the power of typography comes alive, where the chosen font-family, size, and weight intertwine to create a visual symphony. This placeholder text provides a glimpse into that world, showcasing how normal text would look with the given settings. It serves as a canvas for the letters to dance gracefully, conveying meaning and capturing the essence of your design. Let the magic of typography unfold before your eyes.
    </div>
    <div class="element fourth">
        <h3>H1</h3>
        Font-Family: {{ element.fonts.mainFont }}<br>
        Font size: {{ element.fontSize.h1 }}px<br>
        Font weight: {{ element.fontWeight.h1 }}<br>
    </div>
    <div class="element fourth">
        <h3>H2</h3>
        Font-Family: {{ element.fonts.mainFont }}<br>
        Font size: {{ element.fontSize.h2 }}px<br>
        Font weight: {{ element.fontWeight.h2 }}<br>
    </div>
    <div class="element fourth">
        <h3>H3</h3>
        Font-Family: {{ element.fonts.mainFont }}<br>
        Font size: {{ element.fontSize.h3 }}px<br>
        Font weight: {{ element.fontWeight.h3 }}<br>
    </div>
    <div class="element fourth">
        <h3>Normal text</h3>
        Font-Family: {{ element.fonts.secondaryFont }}<br>
        Font size: {{ element.fontSize.normalText }}px<br>
        Font weight: {{ element.fontWeight.normalText }}<br>
    </div>
</div>