<script src="/templates/page/kistyleguide/ki_style_guide/ins_limbic_map/insLimbicMap.js"></script>

<div class="slidesHeader">
    <h1 class="sliderTitle">{{ i18n.kiStyleguide.tabs.limbicMap }}</h1>
    <span class="sliderSubtitle">{{ i18n.kiStyleguide.limbicMap.explanation }}</span>
</div>
<div class="limbicMap">
    <figure id='image-map'>
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Ebene_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1052 619.2" style="enable-background:new 0 0 1052 619.2;" xml:space="preserve">
            <path class="yellowFill" d="M57.5,296.7C57.5,451,262,576.5,516,579.3V287.4L90.5,192.1C69.2,224.5,57.5,259.8,57.5,296.7L57.5,296.7z"/>
            <path class="blueFill" d="M958.6,191.3C889.5,87.4,721.4,14,524.8,14S159.3,87.8,90.6,192.2l425.5,95.3L958.6,191.3L958.6,191.3z"/>
            <path class="fillTurquoise" d="M992.2,296.7c0-37.2-11.9-72.8-33.6-105.4L516,287.4v291.9c2.9,0,5.9,0.1,8.8,0.1
        C782.9,579.4,992.2,452.8,992.2,296.7L992.2,296.7z"/>
            <path class="fillWhite" d="M31.1,160.9h199.5c4.2,0,7.5,3.4,7.5,7.5v42.2c0,4.2-3.4,7.5-7.5,7.5H31.1c-4.2,0-7.5-3.4-7.5-7.5v-42.2
        C23.6,164.3,27,160.9,31.1,160.9z"/>
            <path class="fillWhite" d="M812.8,147.6h203.7c4.2,0,7.5,3.4,7.5,7.5v42.2c0,4.2-3.4,7.5-7.5,7.5H812.8c-4.2,0-7.5-3.4-7.5-7.5v-42.2
        C805.3,151,808.7,147.6,812.8,147.6z"/>
            <path class="fillWhite" d="M431.5,550h169c4.2,0,7.5,3.4,7.5,7.5v42.2c0,4.2-3.4,7.5-7.5,7.5h-169c-4.2,0-7.5-3.4-7.5-7.5v-42.2
        C424,553.3,427.4,550,431.5,550z"/>
            <a title="extravagance" href="#"><text transform="matrix(1 0 0 1 288.5603 121.5402)">{{ i18n.kiStyleguide.limbicMap.extravagance }}</text></a>
            <a title="creativity" href="#"><text transform="matrix(1 0 0 1 252.6818 169.9999)">{{ i18n.kiStyleguide.limbicMap.creativity }}</text></a>
            <a title="individualism" href="#"><text transform="matrix(1 0 0 1 357.3166 194.8)">{{ i18n.kiStyleguide.limbicMap.individualism }}</text></a>
            <a title="variety" href="#"><text transform="matrix(1 0 0 1 349.5321 240.6998)">{{ i18n.kiStyleguide.limbicMap.variety }}</text></a>
            <a title="risk" href="#"><text transform="matrix(1 0 0 1 439.9099 139.9)">{{ i18n.kiStyleguide.limbicMap.risk }}</text></a>
            <a title="spontaneity" href="#"><text transform="matrix(1 0 0 1 509.8737 185.4001)">{{ i18n.kiStyleguide.limbicMap.spontaneity }}</text></a>
            <a title="autonomy" href="#"><text transform="matrix(1 0 0 1 597.6 202.0001)">{{ i18n.kiStyleguide.limbicMap.autonomy }}</text></a>
            <a title="impulsiveness" href="#"><text transform="matrix(1 0 0 1 472.1224 91.5999)">{{ i18n.kiStyleguide.limbicMap.impulsiveness }}</text></a>
            <a title="freedom" href="#"><text transform="matrix(1 0 0 1 647.9998 228.8001)">{{ i18n.kiStyleguide.limbicMap.freedom }}</text></a>
            <a title="courage" href="#"><text transform="matrix(1 0 0 1 613.5004 135.2999)">{{ i18n.kiStyleguide.limbicMap.courage }}</text></a>
            <a title="rebellion" href="#"><text transform="matrix(1 0 0 1 624.1774 91.2858)">{{ i18n.kiStyleguide.limbicMap.rebellion }}</text></a>
            <a title="victory" href="#"><text transform="matrix(1 0 0 1 714.3 125.8999)">{{ i18n.kiStyleguide.limbicMap.victory }}</text></a>
            <a title="fight" href="#"><text transform="matrix(1 0 0 1 713.4665 168.3002)">{{ i18n.kiStyleguide.limbicMap.fight }}</text></a>
            <a title="power" href="#"><text transform="matrix(1 0 0 1 746.4922 196.8001)">{{ i18n.kiStyleguide.limbicMap.power }}</text></a>
            <a title="fame" href="#"><text transform="matrix(1 0 0 1 748.1553 229.8001)">{{ i18n.kiStyleguide.limbicMap.fame }}</text></a>
            <a title="fun" href="#"><text transform="matrix(1 0 0 1 113.1998 264.2235)">{{ i18n.kiStyleguide.limbicMap.fun }}</text></a>
            <a title="art" href="#"><text transform="matrix(1 0 0 1 192.1033 240.6342)">{{ i18n.kiStyleguide.limbicMap.art }}</text></a>
            <a title="curiosity" href="#"><text transform="matrix(1 0 0 1 271.4666 263.7)">{{ i18n.kiStyleguide.limbicMap.curiosity }}</text></a>
            <a title="humor" href="#"><text transform="matrix(1 0 0 1 192.312 302.3)">{{ i18n.kiStyleguide.limbicMap.humor }}</text></a>
            <a title="ease" href="#"><text transform="matrix(1 0 0 1 272.9308 311.3)">{{ i18n.kiStyleguide.limbicMap.ease }}</text></a>
            <a title="tolerance" href="#"><text transform="matrix(1 0 0 1 386.0002 333.5)">{{ i18n.kiStyleguide.limbicMap.tolerance }}</text></a>
            <a title="fantasy" href="#"><text transform="matrix(1 0 0 1 182.4182 343.4999)">{{ i18n.kiStyleguide.limbicMap.fantasy }}</text></a>
            <a title="openness" href="#"><text transform="matrix(1 0 0 1 261.6189 362.4001)">{{ i18n.kiStyleguide.limbicMap.openness }}</text></a>
            <a title="flexibility" href="#"><text transform="matrix(1 0 0 1 368.4 378.7996)">{{ i18n.kiStyleguide.limbicMap.flexibility }}</text></a>
            <a title="friendship" href="#"><text transform="matrix(1 0 0 1 455.5 387.8)">{{ i18n.kiStyleguide.limbicMap.friendship }}</text></a>
            <a title="enjoyment" href="#"><text transform="matrix(1 0 0 1 150.6001 379.0312)">{{ i18n.kiStyleguide.limbicMap.enjoyment }}</text></a>
            <a title="poetry" href="#"><text transform="matrix(1 0 0 1 262.1305 396.7)">{{ i18n.kiStyleguide.limbicMap.poetry }}</text></a>
            <a title="dream" href="#"><text transform="matrix(1 0 0 1 196 407.8996)">{{ i18n.kiStyleguide.limbicMap.dream }}</text></a>
            <a title="sensuality" href="#"><text transform="matrix(1 0 0 1 234.9 452.1995)">{{ i18n.kiStyleguide.limbicMap.sensuality }}</text></a>
            <a title="warmth" href="#"><text transform="matrix(1 0 0 1 335.2 417.7)">{{ i18n.kiStyleguide.limbicMap.warmth }}</text></a>
            <a title="family" href="#"><text transform="matrix(1 0 0 1 476.5997 414.0996)">{{ i18n.kiStyleguide.limbicMap.family }}</text></a>
            <a title="trust" href="#"><text transform="matrix(1 0 0 1 375.4002 444.5996)">{{ i18n.kiStyleguide.limbicMap.trust }}</text></a>
            <a title="home" href="#"><text transform="matrix(1 0 0 1 439.9099 477.2236)">{{ i18n.kiStyleguide.limbicMap.home }}</text></a>
            <a title="sociability" href="#"><text transform="matrix(1 0 0 1 322.416 472.9998)">{{ i18n.kiStyleguide.limbicMap.sociability }}</text></a>
            <a title="nature" href="#"><text transform="matrix(1 0 0 1 320.2378 510.576)">{{ i18n.kiStyleguide.limbicMap.nature }}</text></a>
            <a title="nostalgia" href="#"><text transform="matrix(1 0 0 1 400.6889 520.1996)">{{ i18n.kiStyleguide.limbicMap.nostalgia }}</text></a>
            <a title="comfort" href="#"><text transform="matrix(1 0 0 1 491.7211 459.6003)">{{ i18n.kiStyleguide.limbicMap.comfort }}</text></a>
            <a title="safety" href="#"><text transform="matrix(1 0 0 1 500.1605 528.2659)">{{ i18n.kiStyleguide.limbicMap.safety }}</text></a>
            <a title="loyalty" href="#"><text transform="matrix(1 0 0 1 542.9059 432.3002)">{{ i18n.kiStyleguide.limbicMap.loyalty }}</text></a>
            <a title="functionality" href="#"><text transform="matrix(1 0 0 1 597.5996 308.0001)">{{ i18n.kiStyleguide.limbicMap.functionality }}</text></a>
            <a title="order" href="#"><text transform="matrix(1 0 0 1 593.2003 343.5)">{{ i18n.kiStyleguide.limbicMap.order }}</text></a>
            <a title="justice" href="#"><text transform="matrix(1 0 0 1 572.9542 378.7998)">{{ i18n.kiStyleguide.limbicMap.justice }}</text></a>
            <a title="obedience" href="#"><text transform="matrix(1 0 0 1 573.4661 407.2003)">{{ i18n.kiStyleguide.limbicMap.obedience }}</text></a>
            <a title="cleanliness" href="#"><text transform="matrix(1 0 0 1 617.2003 436.5)">{{ i18n.kiStyleguide.limbicMap.cleanliness }}</text></a>
            <a title="reliability" href="#"><text transform="matrix(1 0 0 1 607.9998 470)">{{ i18n.kiStyleguide.limbicMap.reliability }}</text></a>
            <a title="health" href="#"><text transform="matrix(1 0 0 1 573.4655 499.9003)">{{ i18n.kiStyleguide.limbicMap.health }}</text></a>
            <a title="tradition" href="#"><text transform="matrix(1 0 0 1 599.5003 534.8997)">{{ i18n.kiStyleguide.limbicMap.tradition }}</text></a>
            <a title="quality" href="#"><text transform="matrix(1 0 0 1 675.4004 491.8004)">{{ i18n.kiStyleguide.limbicMap.quality }}</text></a>
            <a title="frugality" href="#"><text transform="matrix(1 0 0 1 730.1996 460.7)">{{ i18n.kiStyleguide.limbicMap.frugality }}</text></a>
            <a title="duty" href="#"><text transform="matrix(1 0 0 1 746.4924 423.8004)">{{ i18n.kiStyleguide.limbicMap.duty }}</text></a>
            <a title="hygiene" href="#"><text transform="matrix(1 0 0 1 692.2997 399.5998)">{{ i18n.kiStyleguide.limbicMap.hygiene }}</text></a>
            <a title="morale" href="#"><text transform="matrix(1 0 0 1 686.4001 369.3997)">{{ i18n.kiStyleguide.limbicMap.morale }}</text></a>
            <a title="honor" href="#"><text transform="matrix(1 0 0 1 725.2996 298.8998)">{{ i18n.kiStyleguide.limbicMap.honor }}</text></a>
            <a title="pride" href="#"><text transform="matrix(1 0 0 1 737.1836 274.1558)">{{ i18n.kiStyleguide.limbicMap.pride }}</text></a>
            <a title="status" href="#"><text transform="matrix(1 0 0 1 773.0999 256.3999)">{{ i18n.kiStyleguide.limbicMap.status }}</text></a>
            <a title="enforcement" href="#"><text transform="matrix(1 0 0 1 828.5001 243.1)">{{ i18n.kiStyleguide.limbicMap.enforcement }}</text></a>
            <a title="efficiency" href="#"><text transform="matrix(1 0 0 1 806.6996 299.2236)">{{ i18n.kiStyleguide.limbicMap.efficiency }}</text></a>
            <a title="diligence" href="#"><text transform="matrix(1 0 0 1 765.0444 328.4)">{{ i18n.kiStyleguide.limbicMap.diligence }}</text></a>
            <a title="logic" href="#"><text transform="matrix(1 0 0 1 756 362.4)">{{ i18n.kiStyleguide.limbicMap.logic }}</text></a>
            <a title="discipline" href="#"><text transform="matrix(1 0 0 1 779.8 399.5996)">{{ i18n.kiStyleguide.limbicMap.discipline }}</text></a>
            <a title="asceticism" href="#"><text transform="matrix(1 0 0 1 798.05 437.8001)">{{ i18n.kiStyleguide.limbicMap.asceticism }}</text></a>
            <a title="precision" href="#"><text transform="matrix(1 0 0 1 836.6005 384.3)">{{ i18n.kiStyleguide.limbicMap.precision }}</text></a>
            <a title="persistence" href="#"><text transform="matrix(1 0 0 1 820.5002 347.7004)">{{ i18n.kiStyleguide.limbicMap.persistence }}</text></a>
            <a title="ambition" href="#"><text transform="matrix(1 0 0 1 870.668 324.7997)">{{ i18n.kiStyleguide.limbicMap.ambition }}</text></a>
            <a title="elite" href="#"><text transform="matrix(1 0 0 1 929.7889 233.2997)">{{ i18n.kiStyleguide.limbicMap.elite }}</text></a>
            <a title="performance" href="#"><text transform="matrix(1 0 0 1 871.8838 274.8002)">{{ i18n.kiStyleguide.limbicMap.performance }}</text></a>
            <text transform="matrix(1 0 0 1 819.8 190.0643)" class="fillRed bigFont">{{ i18n.kiStyleguide.limbicMap.dominance }}</text>
            <text transform="matrix(1 0 0 1 35.9308 204.1)" class="fillDarkYellow bigFont">{{ i18n.kiStyleguide.limbicMap.stimulant }}</text>
            <text transform="matrix(1 0 0 1 435.9013 592.1998)" class="fillDarkTurquoise bigFont">{{ i18n.kiStyleguide.limbicMap.balance }}</text>
            <g>
                <path id="SVGID_x5F_1_x5F_" class="noFill" d="M262.3,111.6c0,0,139.8-66.7,311.2-51.5"/>
                <text>	<textPath  xlink:href="#SVGID_x5F_1_x5F_" startOffset="0.4395%">
                        <tspan  class="fillWhite mediumFont">{{ i18n.kiStyleguide.limbicMap.adventureThrill }}</tspan>	</textPath>
                </text>
            </g>
            <path id="SVGID_x5F_2_x5F_" class="noFill" d="M942.4,261.1c0,0,55.6,153.3-230.4,249.2"/>
            <text><textPath  xlink:href="#SVGID_x5F_2_x5F_" startOffset="0.9766%">
                    <tspan  class="fillWhite mediumFont">{{ i18n.kiStyleguide.limbicMap.disciplineControl }}</tspan></textPath>
            </text>
            <path id="SVGID_x5F_3_x5F_" class="noFill" d="M259,478.8c0,0-199.6-79.2-150.2-241.5"/>
            <text><textPath  xlink:href="#SVGID_x5F_3_x5F_" startOffset="0.8301%">
                    <tspan  class="fillWhite mediumFont">{{ i18n.kiStyleguide.limbicMap.fantasyEnjoyment }}</tspan></textPath>
            </text>
        </svg>
    </figure>

    <input type="checkbox" id="creativity" name="limbicValues[]" value="creativity" />
    <label for="creativity">creativity</label>

    <input type="checkbox" id="extravagance" name="limbicValues[]" value="extravagance" />
    <label for="extravagance">extravagance</label>

    <input type="checkbox" id="individualism" name="limbicValues[]" value="individualism" />
    <label for="individualism">individualism</label>

    <input type="checkbox" id="variety" name="limbicValues[]" value="variety" />
    <label for="variety">variety</label>

    <input type="checkbox" id="spontaneity" name="limbicValues[]" value="spontaneity" />
    <label for="spontaneity">spontaneity</label>

    <input type="checkbox" id="risk" name="limbicValues[]" value="risk" />
    <label for="risk">risk</label>

    <input type="checkbox" id="impulsiveness" name="limbicValues[]" value="impulsiveness" />
    <label for="impulsiveness">impulsiveness</label>

    <input type="checkbox" id="rebellion" name="limbicValues[]" value="rebellion" />
    <label for="rebellion">rebellion</label>

    <input type="checkbox" id="courage" name="limbicValues[]" value="courage" />
    <label for="courage">courage</label>

    <input type="checkbox" id="autonomy" name="limbicValues[]" value="autonomy" />
    <label for="autonomy">autonomy</label>

    <input type="checkbox" id="freedom" name="limbicValues[]" value="freedom" />
    <label for="freedom">freedom</label>

    <input type="checkbox" id="fame" name="limbicValues[]" value="fame" />
    <label for="fame">fame</label>

    <input type="checkbox" id="power" name="limbicValues[]" value="power" />
    <label for="power">power</label>

    <input type="checkbox" id="fight" name="limbicValues[]" value="fight" />
    <label for="fight">fight</label>

    <input type="checkbox" id="victory" name="limbicValues[]" value="victory" />
    <label for="victory">victory</label>

    <input type="checkbox" id="fun" name="limbicValues[]" value="fun" />
    <label for="fun">fun</label>

    <input type="checkbox" id="art" name="limbicValues[]" value="art" />
    <label for="art">art</label>

    <input type="checkbox" id="curiosity" name="limbicValues[]" value="curiosity" />
    <label for="curiosity">curiosity</label>

    <input type="checkbox" id="humor" name="limbicValues[]" value="humor" />
    <label for="humor">humor</label>

    <input type="checkbox" id="ease" name="limbicValues[]" value="ease" />
    <label for="ease">ease</label>

    <input type="checkbox" id="tolerance" name="limbicValues[]" value="tolerance" />
    <label for="tolerance">tolerance</label>

    <input type="checkbox" id="fantasy" name="limbicValues[]" value="fantasy" />
    <label for="fantasy">fantasy</label>

    <input type="checkbox" id="openness" name="limbicValues[]" value="openness" />
    <label for="openness">openness</label>

    <input type="checkbox" id="flexibility" name="limbicValues[]" value="flexibility" />
    <label for="flexibility">flexibility</label>

    <input type="checkbox" id="friendship" name="limbicValues[]" value="friendship" />
    <label for="friendship">friendship</label>

    <input type="checkbox" id="enjoyment" name="limbicValues[]" value="enjoyment" />
    <label for="enjoyment">enjoyment</label>

    <input type="checkbox" id="poetry" name="limbicValues[]" value="poetry" />
    <label for="poetry">poetry</label>

    <input type="checkbox" id="dream" name="limbicValues[]" value="dream" />
    <label for="dream">dream</label>

    <input type="checkbox" id="sensuality" name="limbicValues[]" value="sensuality" />
    <label for="sensuality">sensuality</label>

    <input type="checkbox" id="warmth" name="limbicValues[]" value="warmth" />
    <label for="warmth">warmth</label>

    <input type="checkbox" id="family" name="limbicValues[]" value="family" />
    <label for="family">family</label>

    <input type="checkbox" id="trust" name="limbicValues[]" value="trust" />
    <label for="trust">trust</label>

    <input type="checkbox" id="home" name="limbicValues[]" value="home" />
    <label for="home">home</label>

    <input type="checkbox" id="sociability" name="limbicValues[]" value="sociability" />
    <label for="sociability">sociability</label>

    <input type="checkbox" id="nature" name="limbicValues[]" value="nature" />
    <label for="nature">nature</label>

    <input type="checkbox" id="nostalgia" name="limbicValues[]" value="nostalgia" />
    <label for="nostalgia">nostalgia</label>

    <input type="checkbox" id="comfort" name="limbicValues[]" value="comfort" />
    <label for="comfort">comfort</label>

    <input type="checkbox" id="safety" name="limbicValues[]" value="safety" />
    <label for="safety">safety</label>

    <input type="checkbox" id="loyalty" name="limbicValues[]" value="loyalty" />
    <label for="loyalty">loyalty</label>

    <input type="checkbox" id="functionality" name="limbicValues[]" value="functionality" />
    <label for="functionality">functionality</label>

    <input type="checkbox" id="order" name="limbicValues[]" value="order" />
    <label for="order">order</label>

    <input type="checkbox" id="justice" name="limbicValues[]" value="justice" />
    <label for="justice">justice</label>

    <input type="checkbox" id="obedience" name="limbicValues[]" value="obedience" />
    <label for="obedience">obedience</label>

    <input type="checkbox" id="cleanliness" name="limbicValues[]" value="cleanliness" />
    <label for="cleanliness">cleanliness</label>

    <input type="checkbox" id="reliability" name="limbicValues[]" value="reliability" />
    <label for="reliability">reliability</label>

    <input type="checkbox" id="health" name="limbicValues[]" value="health" />
    <label for="health">health</label>

    <input type="checkbox" id="tradition" name="limbicValues[]" value="tradition" />
    <label for="tradition">tradition</label>

    <input type="checkbox" id="quality" name="limbicValues[]" value="quality" />
    <label for="quality">quality</label>

    <input type="checkbox" id="frugality" name="limbicValues[]" value="frugality" />
    <label for="frugality">frugality</label>

    <input type="checkbox" id="duty" name="limbicValues[]" value="duty" />
    <label for="duty">duty</label>

    <input type="checkbox" id="hygiene" name="limbicValues[]" value="hygiene" />
    <label for="hygiene">hygiene</label>

    <input type="checkbox" id="morale" name="limbicValues[]" value="morale" />
    <label for="morale">morale</label>

    <input type="checkbox" id="honor" name="limbicValues[]" value="honor" />
    <label for="honor">honor</label>

    <input type="checkbox" id="pride" name="limbicValues[]" value="pride" />
    <label for="pride">pride</label>

    <input type="checkbox" id="status" name="limbicValues[]" value="status" />
    <label for="status">status</label>

    <input type="checkbox" id="enforcement" name="limbicValues[]" value="enforcement" />
    <label for="enforcement">enforcement</label>

    <input type="checkbox" id="efficiency" name="limbicValues[]" value="efficiency" />
    <label for="efficiency">efficiency</label>

    <input type="checkbox" id="diligence" name="limbicValues[]" value="diligence" />
    <label for="diligence">diligence</label>

    <input type="checkbox" id="logic" name="limbicValues[]" value="logic" />
    <label for="logic">logic</label>

    <input type="checkbox" id="discipline" name="limbicValues[]" value="discipline" />
    <label for="discipline">discipline</label>

    <input type="checkbox" id="asceticism" name="limbicValues[]" value="asceticism" />
    <label for="asceticism">asceticism</label>

    <input type="checkbox" id="precision" name="limbicValues[]" value="precision" />
    <label for="precision">precision</label>

    <input type="checkbox" id="persistence" name="limbicValues[]" value="persistence" />
    <label for="persistence">persistence</label>

    <input type="checkbox" id="ambition" name="limbicValues[]" value="ambition" />
    <label for="ambition">ambition</label>

    <input type="checkbox" id="elite" name="limbicValues[]" value="elite" />
    <label for="elite">elite</label>

    <input type="checkbox" id="performance" name="limbicValues[]" value="performance" />
    <label for="performance">performance</label>

    <input type="checkbox" id="dominance" name="limbicValues[]" value="dominance" />
    <label for="dominance">dominance</label>

    <input type="checkbox" id="stimulant" name="limbicValues[]" value="stimulant" />
    <label for="stimulant">stimulant</label>

    <input type="checkbox" id="balance" name="limbicValues[]" value="balance" />
    <label for="balance">balance</label>
</div>